@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@mixin flexCenter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
$primary: #b21901;
$secondary: rgb(218, 218, 76);
$black: #000;
$primary: #a872da;
$secondary: #ffffff;
$primary: rgb(55, 121, 207);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: Quicksand;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: $black;
  }
  ::-webkit-scrollbar-thumb {
    background-color: $primary;
    // &:hover {
    //   // background-color: white;
    // }
  }
}

body {
  min-height: 100vh;
}

.header {
  @include flexCenter;
  z-index: 3;
  position: sticky;
  top: 0;
  background-color: rgba($color: $primary, $alpha: 1);
  color: $secondary;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  .nav {
    @include flexCenter;
    .links {
      text-decoration: none;
      color: $secondary;
      padding: 0.7em 1.5em;
      margin-inline: 2em;
      border-radius: 4px;
      display: inline-block;
      &:hover {
        // background-color: $black;
        background-color: lighten($primary, 6);
        color: white;
        transition: 0.3s all;
      }
    }
  }
}
// .progress {
//   width: 100vw;
//   height: 5px;
//   background-color: $secondary;
// }

h1 {
  @include flexCenter;
  img {
    width: 80px;
    aspect-ratio: 1;
    mix-blend-mode: multiply;
  }
}
.hero_section {
  min-height: 100vh;
  @include flexCenter;
  background-image: linear-gradient(180deg, $primary, $secondary, transparent);
}

.hero_wrapper {
  position: relative;
  .card {
    cursor: pointer;
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    width: 10em;
    border-radius: 8px;
    aspect-ratio: 2;
    background-color: rgba(255, 255, 255, 0.706);
    border: 1px solid white;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.1);
      box-shadow: 0 0 5px 3px lighten($primary, 50);
    }
  }
}

.card_header {
  font: {
    size: 20px;
    weight: 500;
  }
  margin-bottom: 1em;
}
.card_body {
  font-size: 24px;
  font-weight: 500;
}
.card_footer {
  font-size: 18px;
  font-weight: 500;
}

.leading {
  font-size: 3em;
}

.tech {
  display: inline-block;
  padding: 10px 20px;
  background-color: $primary;
  color: white;
}

.languages {
  margin-block: 0.5em;
}

.gallery {
  border-bottom: 2px solid $primary;
  min-height: 80vh;
  h2 {
    text-align: center;
    font-size: 3em;
    background-color: $primary;
    color: $secondary;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  ul {
    // padding: 2px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 0.5em;
    row-gap: 0em;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 0.2em 0.5em;
    li {
      margin: 1em 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.footer {
  padding: 1em 4em;
  background-image: linear-gradient(90deg, $primary, transparent);
  // color: white;
  hr {
    background-image: repeating-linear-gradient(
      125deg,
      $primary 0px 15px,
      $secondary 15px 30px
    );
    height: 1em;
    margin-block: 0.5em;
    background-size: 200% 200%;
    animation: run 30s linear infinite;
  }
  h2 {
    margin-block: 0.5em;
  }
  .location_wrapper {
    display: flex;
    justify-content: space-around;
  }
  .bottom {
    text-align: center;
    font-weight: bold;
    span {
      color: crimson;
    }
  }
}

@keyframes run {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.social {
  .social_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    a {
      display: inline-block;
      img {
        width: 2em;
        aspect-ratio: 1;
        filter: grayscale(100);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}
